.service-back{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
    clip-path: polygon(0 0, 100% 0, 98% 79%, 15% 100%, 0 100%);
    width: 100%;
    background: var(--color10);
}
.service-title{
    position: relative;
    width: 60%;
    color: var(--color09);
    font-family: 'Rajdhani', sans-serif;
}
.facode{
    position: relative;
    font-weight: 15rem;
    color: var(--color09);
    margin: 20px 0;
    padding: 10px;
    border-radius: 50px;
    background-color: var(--color01);
}
.picto{
    position: relative;
    width: 29%;
}
.service-title h1{
    position: relative;
    display: block;
    text-align: center;
    font-size: 4rem;
    /* vertical-align: middle; */
}

/* **************************************** les 4 services ********************************* */
.serv-col{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: auto;
    grid-template-areas: 
    "gcol01 gcol02 gcol03"
    ;
}
.servcol01{
    position: relative;
    grid-area: gcol01;
    background: var(--color02);
}
.mask{
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.411);
}
.servcol01 .serv-title{
    position: relative;
    display: block;
    text-align: center;
    padding: 15px 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color02);
    background: var(--color09);
}
.servcol01 ul li a{
    position: relative;
    display: block;
    padding: 20px 10px;
    color: var(--color09);
    text-decoration: none;
    transition: 1s;
}
.servcol01 ul li a:hover, .development, .marketing, .design, .print{
    background: var(--color01);
}
.servcol03{
    grid-area: gcol03;
    padding: 10px;
    overflow: hidden;
}
.servcol03 img{
    position: relative;
    height: 100%;
    width: 90%;
}


/* ******************************** Colonne du milieu ************************************ */
.serv-container{
    position: relative;
    grid-area: gcol02;
    margin: 20px auto;
    padding: 0 5%;
}
.les-services{
    position: relative;
    display: block;
    margin: auto;
    background: rgba(255, 255, 255, 0);
}
.service-det01, .service-det02, .service-det03, .service-det04, .choisir-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dev01, .dev02, .dev03, .dev04, .market01, .market02, .market03, .market04, .design01, .design02, .design03, .design04, .print01, .print02{
    position: absolute;
    font-family: "fontawesome";
    font-weight: bolder;
    color: var(--color07);
    text-shadow: 0px 0px 0px var(--color02);
    z-index: -1;
}
.dev02, .dev04, .market02, .market04, .design02, .design04, .print02{
    position: relative;
    display: block;
    width: 20%;
    height: 200px;
}
.dev01, .dev03, .market01, .market03, .design01, .design03, .print01{
    position: relative;
    width: 20%;
}
.dev01::before{
    content: "\f108";
    font-size: 10rem;
    top: 0;
    left: 0;
}
.dev02::before{
    position: absolute;
    content: "\f23d";
    font-size: 10rem;
    top: 0;
    right: 0;
    transform: rotate(345deg);
}
.dev03::before{
    content: "\f121";
    font-size: 8rem;
    top: 0;
    left: 50%;
}
.dev04::before{
    position: absolute;
    content: "\f17b";
    font-size: 8rem;
    top: 0;
    right: 0;
    transform: rotate(345deg);
}
.market01::before{
    content: "\f080";
    font-size: 10rem;
    right: 0;
}
.market02::before{
    position: absolute;
    left: 20%;
    content: "\f0ac";
    font-size: 10rem;
    top: 0;
    right: 0;
    transform: rotate(345deg);
}
.market03::before{
    content: "\f0c0";
    font-size: 8rem;
    top: 0;
    left: 50%;
}
.market04::before{
    position: absolute;
    content: "\27B3";
    font-size: 8rem;
    left: 5%;
    transform: rotate(345deg);
}
.design01::before{
    content: "\270D";
    font-size: 10rem;
    right: 0;
    border-radius: 500px;
}
.design02::before{
    position: absolute;
    left: 20%;
    content: "\f03e";
    font-size: 10rem;
    top: 0;
    right: 0;
    transform: rotate(345deg);
}
.design03::before{
    content: "\f008";
    font-size: 8rem;
    top: 0;
    left: 50%;
}
.design04::before{
    position: absolute;
    content: "\f279";
    font-size: 8rem;
    left: 5%;
    transform: rotate(345deg);
}
.print01::before{
    content: "\f1e7";
    font-size: 10rem;
    right: 0;
    border-radius: 500px;
}
.print02::before{
    position: absolute;
    left: 20%;
    content: "\f20e";
    font-size: 10rem;
    top: 0;
    right: 0;
    transform: rotate(345deg);
}
.sur-mesure, .site-vitrine{
    position: relative;
    margin: 10px;
    padding: 20px;
    width: 60%;
    background: var(--color06);
    /* background: rgba(255, 255, 255, 0.40); */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px; */
}
.e-commerce, .applications{
    position: relative;
    margin: 10px;
    padding: 20px;
    width: 60%;
    background: var(--color06);
    /* background: rgba(255, 255, 255, 0.40); */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px; */
}
.sur-mesure{
    grid-area: sur-mesure;
}
.site-vitrine{
    grid-area: site-vitrine;
}
.applications{
    grid-area: applications;
}


/* Nous choisir */
.choisir-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 40px auto;
    text-align: center;
    background: url(../image/resized/icons.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0 5px 5px 0;
    border-top: solid 2px rgb(95, 93, 93);
    border-bottom: solid 2px rgb(95, 93, 93);
    box-shadow: 1px 2px 3px var(--color06);
}
.choisir-text{
    position: relative;
    display: inline-block;
    width: 80%;
    color: var(--color09);
    padding: 40px;
    border-radius: 0 5px 5px 0;
    background-color: var(--color01);
    /* border-top: solid 2px black;
    border-bottom: solid 2px black; */
    box-shadow: -10px 0px 10px -2px rgba(29, 29, 29, 0.555);
}
.choisir-image{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    z-index: -1;
}
.choisir-img01{
    position: relative;
    float: left;
}

/* ************************************* Formulaire interne ********************************* */
.demand-form{
    position: relative;
    width: 100%;
}
.clientname::after{
    content:"\f0e0";
    position: absolute;
    right: -7%;
    top: -11%;
    font-family: "fontawesome";
    font-size: 6rem;
    color: var(--color02);
    transform: rotate(45deg)
}
.demand-form form{
    position: relative;
    min-width: 375px;
    width: 65%;
    max-width: 650px;
    margin: auto;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: var(--color10);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
}
.demand-form form label{
    margin: 8px 0 0 0;
    padding-left: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color09);

}

/* Troisième colonne */
