/* *{
    background-color: whitesmoke;
} */
:root {
    --color01: #69A50A;
    --color02: #475E22; 
    --color03: #ACE352;
    --color04: #3C5E06;
    --color05: #8EDE0D;
}

.bouton01 {
    position: relative;
    text-decoration: none;
    color: var(--color01);
    margin: 20px 0;
    padding: 10px 15px;
    border: solid 1px var(--color01);
    border-radius: 20px;
}
.bouton02 {
    position: relative;
    text-decoration: none;
    color: white;
    margin: 20px 0;
    padding: 10px 15px;
    border: solid 1px white;
    border-radius: 20px;
}

nav{
    background: var(--color01);
}
.logo-image, .menu-section{
    display: inline-block;
}
.menu-section a{
    color: white;
}
.logo{
    height: 80px;
}
.menu{
    list-style-type: none;
}
.menu li{
    display: inline-block;
}
.principal-ban{
    display: grid;
    grid-row: auto;
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
    grid-template-rows: 300px 250px 300px 300px;
    grid-template-areas: 
    "tp tp tp ip ip ip"
    "nc01 c1 c2 ip ip ip"
    "nc01 c1 c2 c3 c4 nc02"
    "nw nw nw c3 c4 nc02";
    margin-top: 50px;
    /* background: linear-gradient(white, rgb(182, 179, 179) ); */
}
.principal01{
    grid-area: tp;
}
.principal02{
    grid-area: ip;
    margin: auto;
}
.product-card01{
    grid-area: c1;
    position: relative;
    text-align: center;
    margin: 0 10px 0 10px;
    padding: 10px;
}
.spacer{
    width: 100%;
    height: 100px;
}
.product-card02{
    grid-area: c2;
    position: relative;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.product-card03{
    grid-area: c3;
    position: relative;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.backme{
    color: white;
    background-color: var(--color01);
    height: fit-content;
    padding: 20px;
    border-radius: 30px;
    box-shadow: var(--color04) 0px 7px 29px 0px;
}
.product-card04{
    grid-area: c4;
    position: relative;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.nonecol01{
    grid-area : nc01;
}
.nonecol02{
    grid-area : nc02;
}
.news01{
    grid-area: nw;
    border-image: linear-gradient(235deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), var(--color04) 70% );
    border-image-slice: 2;
    border-image-width: 4px;
    margin-left: 100px;
    padding: 20px;
    border-radius: 30px;
}
.principal01 h1 {
    position: relative;
    text-align: right;
    font-family: 'script';
    font-size: 5rem;
    margin-bottom: 75px;
    color: var(--color04);
}
.main-image{
    width:35vw;
    /* background-color: yellow; */
}

.image-separator{
    height: 200px;
    border-bottom: solid 2px var(--color04) ;
}
.md{
    width: 100%;
    border-bottom: solid 2px var(--color04) ;
}

input, textarea{
    display: block;
}
/* .container {
    position: relative;
    width: 100vw;
  }
  
  .content {
    position: relative;
    z-index: 1;
  }
  
  .background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    height: 150%;
    background-color: red;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    z-index: 0;
  }
   */
.arg01{
    position: absolute;
    width:100%;
}
.bandeau01, .bandeau02, .bandeau03{
    position: relative;
    display: flex;
    margin: auto;
    padding: 40px 0;
    width: 80%;
}
.extraband{
    background: var(--color02);
    backdrop-filter: blur(20px);
}
.extraband h2, .extraband p{
    color: white;
}
.imagb01, .textb01, .imagb02, .textb02, .imagb03, .textb03{
    width: 49%;
   }
   
.imagimb01, .imagimb02, .imagimb03{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
   }
   .imagb01{
    top: 0;
   }
  