
  $color01: #2D9A4D;
  $color02: #27686A; 
  $color03: #2D9A4D;
  $color04: #27686A;
  $color05: #213586;
  $color06: #475e220a;
  $color07: rgba(255, 255, 255, 0.50);
  $color08: #1641AB;
  $color09: #F7F8F6;
  $color10: #27686ad8;
  $color11: rgba(255, 255, 255, 0.849);

@font-face {
  font-family: Pacifico;
  src: url(./fonts/Pacifico-Regular.ttf);
}
@font-face {
  font-family: Rajdhani;
  src: url(./fonts/Rajdhani-Light.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: $color06;
  li{
    list-style: none;
  }
  a{
    text-decoration: none;
    color: $color02;
    &:hover{
      color: $color01;
      text-decoration: none;
    }
  }
}
@mixin centerChild{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin centerChildren($param){
  display: flex;
  justify-content: $param;
  align-items: center;
}
@mixin bouton{
  position: relative;
  text-decoration: none;
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0) 0px 20px 30px;    
  animation: 0.9s;
}