 
  .footer{
    position: relative;
    /* bottom: 0; */
    background-color: var(--color02);
  }
  .footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-container{
    position: relative;
    display: flex;
    color: white;
    justify-content: space-around;
    padding: 40px 40px;
  }
  
  .footer-text{
    width: 40vw;
  }
  
  .footer-menu{
    width: 20vw;
  }
  .footer-contact{
    width: 20vw;
  }
  .lastli{
  position: relative;
  }
  .rs{
  position: relative;
  padding: 5px 0;
  text-align: center;
  vertical-align: middle;
  color: var(--color01);
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 15px;
  }
  .footerlink{
    color: white;
  }
  