/* *********************************************** Menu ********************************************************** */  
.navprinc{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: middle;
    height: 80px;
    width: 100%;
    padding: 0 5%;
    background: var(--color02);
  }
  .logo-image{
    position: relative;
  }
  .menu-section{
    position: relative;
  }
  .menu-section ul{
    height: 100%;
  }
  .menu-section li{
    list-style: none;
    vertical-align: middle;
  }
    .menu{
      position: relative;
      display: inline-block;
      color: var(--color09);
      height: 100%;
      line-height: 75px;
      /* width: 120px; */
    }
    .menu a{
      text-decoration: none;
    }
    .menubutton, .menu-services{
      display: block;
      height: 100%;
      padding-left: 15px;
      padding-right: 15px;
      color: var(--color09);
      background: var(--color02);
      text-decoration: none;
      transition: 0.5s;
    }
    .menu-drop{
      visibility: hidden;
    }
    .deroul-menu{
      position: relative;
      background: var(--color02);
      z-index: 2;
    }
    .menu-services:hover, 
    .menubutton:hover{
      display: block;
      width: 100%;
      color: var(--color02);
      background: var(--color09);
    }
    .dropmoth:hover .menu-drop{
      visibility: visible;
    } 
    .dropmoth:hover .menu-services{
      color: var(--color02);
      background: var(--color09);
    }
    
