.principal-ban{
    position: relative;
    width: 80%;
    min-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "l1a l1a l1b l1b"
    "l2a l2b l1b l1b"
    "l2a l2b l3c l3d"
    "l4a l4a l3c l3d"
    ;

    img{
        position: relative;
        width: 100%;
        z-index: -2;
    }

    .principal01{
        grid-area: l1a;
        height: 50vh;
        @include centerChild;

        h1 {
            position: relative;
            text-align: right;
            font-size: 4.5rem;
            font-family: 'Rajdhani', sans-serif;
          }
    }
    .principal02{
        grid-area: l1b;
        padding: 5%;
        
        .main-image{
            border-bottom: solid 5px $color01;
        }
    }
    .product-card01, .product-card02, .product-card03, .product-card04{
        padding: 0 5%;
        text-align: center;

        h2{
            padding: 5% 15%;
            font-family: 'Rajdhani', sans-serif;
            font-size: 1.5rem;
            font-weight: bold;
            background: $color02;
            color: white;
        }
        p{
            padding: 5% 10%;
        }
    }
    .product-card01{
        grid-area: l2a;
    }
    .product-card02{
        grid-area: l2b;
        display: flex;
        align-items: center;
        
    }
    .product-card03{
        grid-area: l3c;
    }
    .product-card04{
        grid-area: l3d;
    }
    

    .news01{
        grid-area: l4a;
        margin: 20px auto;
        padding: 20px;
        border-radius: 20px;
        border-image-slice: 2;
        border-image-width: 4px;
        border-image: linear-gradient(235deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), var(--color04) 70% );
        background: linear-gradient(95deg, white, rgba(255, 255, 255, 0) 90%);
            
        input, textarea{
            display: block;
            resize: vertical;
            margin: 10px 0;
            border: solid 1px $color01;
            border-radius: 5px;
        }
        input{
            min-width: 300px;
            width: 400px;
            max-width: 600px;
            line-height: 30px;
            margin: 15px 0;
        }
    }

}