.principal-ban{
    position: relative;
    width: 80%;
    min-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "l1a l1a l1b l1b"
    "l2a l2b l1b l1b"
    "l2a l2b l3c l3d"
    "l4a l4a l3c l3d"
    ;

    img{
        width: 100%;
    }

    .principal01{
        grid-area: l1a;
        height: 50vh;
        @include centerChild;
    }
    .principal02{
        grid-area: l1b;
    }
    .product-card01{
        grid-area: l2a;
    }
    .product-card02{
        grid-area: l2b;
        & > div{
            @include centerChild;
        }
    }
    .product-card03{
        grid-area: l3c;
    }
    .product-card04{
        grid-area: l3d;
    }
    .news01{
        grid-area: l4a;
    }

}