.principal-ban{
    position: relative;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "l1a l1a l1b l1b"
    "l2a l2b l1b l1b"
    "l2a l2b l3c l3d"
    "l4a l4a l3c l3d"
    ;
    @media screen and(max-width: 950px){
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "l1a l1b"
        "l2a l2b"
        "l3c l3d"
        "l4a l4a"
        ;
    }
    @media screen and (max-width:500px){
        display: block;
        margin-top: 20px;
    }

    img{
        position: relative;
        width: 100%;
        z-index: -2;
    }

    .principal01{
        grid-area: l1a;
        height: 400px;
        @include centerChild;

        h1 {
            position: relative;
            text-align: right;
            font-size: 4.5rem;
            font-weight: bolder;
            font-family: 'Rajdhani', sans-serif;
            @media screen and(max-width:1000px){
                font-size: 3rem;
            }
            @media screen and (max-width:700px){
                font-size: 2rem;
            }
          }
    }
    .principal02{
        grid-area: l1b;
        position: relative;
        padding: 5%;


        @media screen and (max-width:500px){
            position: relative;
            display: block;
            margin-top: -40%;
            text-align: right;
        }
        
        .main-image{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border-bottom: solid 5px $color01;
            @media screen and (max-width:700px){
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }

            @media screen and (max-width:500px){
                position: relative;
                width: 30%;
            }
        }
    }
    .product-card01, .product-card02, .product-card03, .product-card04{
        padding: 0 5%;
        text-align: center;
        @media screen and (max-width:950px){
            width: 80%;
            margin: auto;
        }
        @media screen and (max-width:750px){
            width: 100%;
            margin: auto;
        }
        @media screen and (max-width:500px){
            width: 80%;
            margin-top: 20px;
        }

        .backme02{
            @include backme02;
            margin-top: -40%;
            padding-bottom: 10%;
        }
        .backme{
            @include backme02;
            padding-bottom: 10%;
        }

        h2{
            padding: 5% 15%;
            font-family: 'Rajdhani', sans-serif;
            font-size: 1.5rem;
            font-weight: bold;
            background: $color02;
            color: white;
        }
        p{
            padding: 5% 10%;
        }
    }
    .product-card01{
        grid-area: l2a;
    }
    .product-card02{
        grid-area: l2b;
        display: flex;
        align-items: flex-end;
        
    }
    .product-card03{
        grid-area: l3c;
    }
    .product-card04{
        grid-area: l3d;
    }
    .news01{
        grid-area: l4a;
        margin: 20px auto;
        padding: 20px;
        border-radius: 20px;
        border-image-slice: 2;
        border-image-width: 4px;
        border-image: linear-gradient(235deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), var(--color04) 70% );
        background: linear-gradient(95deg, white, rgba(255, 255, 255, 0) 90%);
            
        input, textarea{
            display: block;
            width: 100%;
            resize: vertical;
            margin: 10px 0;
            border: solid 1px $color01;
            border-radius: 5px;
            background: none;
        }
        input{
            min-width: 200px;
            width: 100%;
            max-width: 600px;
            line-height: 30px;
            margin: 15px 0;
        }
    }

}